[submodule "frontend"]
	path = frontend
	url = https://github.com/Never-Say-Never-Company/nsnanalyticsfront.git
[submodule "backend"]
	path = backend
	url = https://github.com/Never-Say-Never-Company/nsnanalyticsback.git
